.great-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-content: center;
    justify-content: center;
}

/*Game container*/

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 2rem;
}

canvas {
    border: 4px solid var(--die-blue);
    border-radius: 8px;
    background-color: var(--die-white);
    margin-bottom: 2rem;
}

.btns {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 3rem;

}

button {
    background-color: var(--die-white);
    border-radius: 8px;
    border-color: var(--die-blue);
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: 100px;
}

button:not(:last-child) {
    margin-right: 10px;
}

/*Messages container*/

.messages {
    justify-self: end;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
    text-align: center;
    margin-right: 2rem;
    margin-left: 1rem;
}
p {
    display: inline-block;
    margin: 0;
    width: 100%;
    text-shadow: 2px 2px 5px var(--die-blue), -2px -2px 5px var(--die-blue);
    font-weight: bold;
}